@import '../../Styles/mixins';
@import '../../Styles/variables';


.stars {
    display: inline-flex;
    font-size: 24px;

    .filled {
        color: $primary-color; 
    }
  
    .empty {
        color: $grey-background; 
    }
}
