@import '../../Styles/mixins';
@import '../../Styles/variables';


.stars {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding-top: 15px;
    gap: 5px;

    .filled {
        color: $primary-color; 
    }
  
    .empty {
        color: #e3e3e3; 
    }
}
