// Mixins réutilisables

@mixin pageMargins {
  margin-left: 100px;
  margin-right: 100px;
}

@mixin responsiveMargins {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin banner {
  border-radius: 25px;
  opacity: 0.3;
  background: #000;
  mix-blend-mode: darken; 
}

@mixin custom-font {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

@mixin collapse-container-styles($width: 1023px, $bottom: -2px) {
  width: $width;
  padding: 10px 20px 10px 15px;
  align-items: center;
  border-radius: 5px;
  background: var(--Red, #FF6060);
  bottom: $bottom;
}
