// Index.scss //
@import 'mixins';
@import 'variables';
@import '../Components/Banner/banner.module.scss';
@import '../Components/Header/header.module.scss';
@import '../Components/Footer/footer.module.scss';
@import '../Components/Collapse/collapse.module.scss';
@import '../Components/Slideshow/slideshow.module.scss';
@import '../Pages/ProjetsDetails/projets.details.module.scss';
@import '../Pages/ErrorPage/errorpage.module.scss';
@import '../Pages/About/about.module.scss';
@import '../Components/Stars/stars.module.scss';
@import '../Components/Button/button.module.scss';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #FAFAFA;
  font-style: normal;
}
