// Index.scss //
@import 'mixins';
@import 'variables';
@import '../components/Banner/banner.module';
@import '../components/Header/header.module';
@import '../components/Footer/footer.module';
@import '../Components/Collapse/collapse.module.scss';
@import '../Components/Slideshow/slideshow.module.scss';
@import '../Pages/Apartment/apartment.module.scss';
@import '../Pages/ErrorPage/errorpage.module.scss';
@import '../Pages/About/about.module.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #FF6060;
  font-style: normal;
}
