/* Styles.css (exemple) */
@import '../../Styles/mixins';
@import '../../Styles/variables';

.cardContainer {
    @include pageMargins;
    border-radius: $radius25;
    background-color: $grey-background;
    padding: 56px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .cardGrid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 60px; 
  }
  
  .cardItem {
    display:block;
    position: relative;
    text-align: center;
  }
  
  .cardItem img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    box-shadow: $shadow;
    border-radius: $radius10;
  }

  .cardTitle  {
    @include custom-font;
    color: $secondary-color;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    }

  a {
    text-decoration: none;
  }


  /* Pour les écrans mobiles */
@media only screen and (max-width: 768px) {

  .cardContainer {
    @include responsiveMargins;
    background-color: $secondary-color;
    padding: 0;
  }
  .cardGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}