// Header
@import '../../Styles/mixins';
@import '../../Styles/variables';

.header {
    @include pageMargins;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 50px;

    & .logo {
        width: 210.322px;
        height: 68px;
        flex-shrink: 0;
    }

    & ul {
        display: flex;
        gap: 57px;
        list-style: none;

        & li a {
            font-size: 24px;
            color: $primary-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

 .nav-active {
    position: relative;

    &::after {
        content:"";
        position: absolute;
        background-color: $primary-color;
        height: 2px;
        width: 0;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: underline 0.2s ease-in-out forwards;
        animation: underline 0.2s ease-in-out forwards;

        @-webkit-keyframes underline {
            to {
                width: 100%;
            }
        }
        @keyframes underline {
            to {
                width: 100%;
            }
        }    
}
}

/* Pour les écrans mobiles */
@media only screen and (max-width: 768px) {
    .header {
        @include responsiveMargins;
        margin-top: 20px;
        margin-bottom: 20px;
    
        & .logo {
            max-width: 145px;
            max-height: 46.881px;
            flex-shrink: 0;
        }

        & ul {
            margin-top: 20px;
            gap: 20px;

            & li a {
                font-size: 12px;
                text-transform:uppercase;
            }
        }
    }
}