// Header
@import '../../Styles/mixins';
@import '../../Styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 30px 20px;

    & h1 {
        font-size: 35px;
        color: white;
    }

    & ul {
        display: flex;
        gap: 30px;
        list-style: none;

        & li a {
            font-size: 18px;
            font-weight: 500;
            color: $primary-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
nav {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

 .nav-active {
    position: relative;

    &::after {
        content:"";
        position: absolute;
        background-color: $primary-color;
        height: 2px;
        width: 0;
        border-radius: $radius10;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: underline 0.2s ease-in-out forwards;
        animation: underline 0.2s ease-in-out forwards;

        @-webkit-keyframes underline {
            to {
                width: 100%;
            }
        }
        @keyframes underline {
            to {
                width: 100%;
            }
        }    
}
}

/* Pour les écrans mobiles */
@media only screen and (max-width: 768px) {
    .header { 
        display: grid;
        text-align: center;
    
        & h1 {
            margin: 0;
        }

        & ul {
            margin-top: 20px;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: flex-end;

            & li a {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }

    nav {
        display: block;
    }
}