@import '../../Styles/mixins';
@import '../../Styles/variables';

.footer {
    text-align: center;
    width: 100vw;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #ECECEC, #C0C0C0);
}

.contactInfo {
    display: grid;
    gap:10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.footerTitle {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    
    .footer {
    width: 100%;
    padding: 66px 120.313px 58px 121.094px; 

    & p {
        flex-wrap: wrap;
        font-size: 12px; 
        margin-top: 0;
    }
    }
}