// Banner.module.scss
@import '../../Styles/mixins';
@import '../../Styles/variables';


.bannerContainer {
  height: 600px;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerName {
  margin-top: 0;
  font-size: 48px;
  font-weight: 700;
  color: $secondary-color;
}

.bannerTitle {
  font-size: 35px;
}

/* Pour les écrans mobiles */
@media only screen and (max-width: 768px) {
  .bannerContainer {
    height: 200px;
  }
  .bannerName {
    font-size: 25px;
    padding-left: 10px;
  }
  .bannerTitle {
    font-size: 20px;
  }
}

/* Pour les tablettes */
@media only screen and (max-width: 1024px) {
  .bannerContainer {
   
  }
}