// Banner.module.scss
@import '../../Styles/mixins';
@import '../../Styles/variables';


.bannerContainer {
  @include pageMargins;
  border-radius: 25px;
  height: 223px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-size: cover;
}

.bannerText {
  margin-top: 0;
  font-size: 48px;
  color: $secondary-color;
}

/* Pour les écrans mobiles */
@media only screen and (max-width: 768px) {
  .bannerContainer {
    margin-left: 20px;
    margin-right: 20px;
    height: 111px;
  }
  .bannerText {
    font-size: 24px;
    padding-left: 10px;
  }
}

/* Pour les tablettes */
@media only screen and (max-width: 1024px) {
  .bannerContainer {
    @include responsiveMargins;
  }
}